header {
  /* think about which properties you'd want to use to make the header */
  display:flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--accent-background); /* border-bottom color should be accent-background */
}

input[type="search"] {
  border-radius: 8px; /* Rounded corners */
  background-color: var(--light-gray); /* Light gray background */
  border: 1px solid var(--dark-gray); /* Border color set to dark-gray */
  padding: 5px 10px; /* Padding inside the input */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}


article {
  flex:0 0 30%;
  min-width: 30ch;
  max-width: 50ch;
}

article h1 a {
  display: flex;
  color: var(--accent-background);/*color should be accent-background */
  text-decoration: none; /* Remove underline from the link */
}
